<a href="https://colab.research.google.com/github/gchn24/DS-Notes/blob/main/list_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("hello class")

hello class

In [ ]:
l = [2, 4, 5]

In [ ]:
for i in l:
  print(i*i)

4
16
25

In [ ]:
for i in l:
  print(i**2)

4
16
25

In [ ]:
b = []
for i in l:
  b.append(i*i)

#try doing same using insert() - HW

In [ ]:
print(b)

[4, 16, 25]

In [ ]:
#taking list as input

In [ ]:
# N - number of 
# N space separated elements

In [ ]:
n = int(input())
l = input()

3
4 6 8

In [ ]:
print(n, type(n))

3 <class 'int'>

In [ ]:
print(l, type(l))

4 6 8 <class 'str'>

In [ ]:
lst = l.split()

In [ ]:
print(lst)

['4', '6', '8']

In [ ]:
type(lst)

list

In [ ]:
type(lst[0])

str

In [ ]:
c = []
for i in lst:
  c.append(int(i))

In [ ]:
print(lst, c)

['4', '6', '8'] [4, 6, 8]

In [ ]:
print(type(c[0]), type(c))

<class 'int'> <class 'list'>

In [ ]:
#This is the final code for taking list as input

In [ ]:
n = int(input()) #size of the list to take as input

lst = input() # "2 4 5"

l = lst.split() #['2', '4' , '5']

res = []

for i in l:
  res.append(int(i))

4
1 3 5 7

In [ ]:
print(res)

[1, 3, 5, 7]

In [ ]:
'''
Q: Write a program, that takes list as input and creates another list having the qube of the numbers entered in the list


'''

'''
Input: "2 4 5"
output: [8, 64, 125]
'''

'\nQ: Write a program, that takes list as input and creates another list having the qube of the numbers entered in the list\n\n\n'

In [ ]:
lst = input()

l = lst.split()

print(l)

2 4 5
['2', '4', '5']

In [ ]:
lst = input()

#more about split() in string class
l = lst.split()

print(l)

res = []

for i in l:
  k = int(i)
  res.append(k**3)


print(res)

2 4 5
['2', '4', '5']
[8, 64, 125]

In [ ]:
#updating a list

l = [2,5,3,3,8]
l[0] = 21
print(l)

[21, 5, 3, 3, 8]

In [ ]:
l = [2,5,3,3,8]
l[2] = 5
print(l)

[2, 5, 5, 3, 8]

In [ ]:
'''
Q2: - this ability to modify itself is called Mutability in Python
'''
a = [2, 5, 9]

a[2] = a[2] + 1

print(a)

[2, 5, 10]

In [ ]:
'''
Q3
'''

a = [3, 5, 9]
a[1] = a[1] + 1
a[2] = a[2] + 2
print(a)

[3, 6, 11]

In [ ]:
'''
Q4
'''

a = [1, 6, 8]
a[1] = a[0]
print(a)

[1, 1, 8]

In [ ]:
'''
Q5:
'''

a = [3, 6, 7]
a[1] = a[2]
a[2] = a[0]

print(a)

[3, 7, 3]

In [ ]:
#Multiple Assignments

In [ ]:
a = 3
b = 4
print(a,b)

3 4

In [ ]:
a, b, c = 3 ,4, 5
print(a,b, c)

3 4 5

In [ ]:
#swap - using python

In [ ]:
a = 3
b = 4

a = b
b = a
#issue- a got updated to b and we lost the original value of a
print(a,b)

4 4

In [ ]:
a = 3
b = 4
print("before swapping a,b =", a," ", b)
c = a
a = b
b = c

print("After swapping a,b =", a," ", b)

before swapping a,b = 3   4
After swapping a,b = 4   3

In [ ]:
a = 3
b = 4

#swapping
a, b = b, a

print(a,b)

4 3

In [ ]:
a = [2, 4, 6, 8, 10]

#swap 2nd and 4th element

a[1] , a[3] = a[3], a[1]

print(a)

[2, 8, 6, 4, 10]

In [ ]:
a = [2, 4, 6, 8, 10]

#swap 2nd and 4th element

a[3] , a[1] = a[1], a[3]

print(a)

[2, 8, 6, 4, 10]

In [ ]:
'''
Q5 - this consists of most of the concepts covered - 
1. everyone to post on DM
2- Take your time- make sure you attempt it at your best ability

Tell me output after every line - better learning : )
'''

l = [1, 5, 2, 3]

l.append(7)

l.insert(0,5)

l[1] = l[2]

l[2], l[0] = l[0], l[2]

print(l)

In [ ]:

l = [1, 5, 2, 3]

l.append(7)

print(l)

[1, 5, 2, 3, 7]

In [ ]:
l.insert(0,5)
print(l)

[5, 1, 5, 2, 3, 7]

In [ ]:
l[1] = l[2]
print(l)

[5, 5, 5, 2, 3, 7]

In [ ]:
#swapping 1st and 3rd element
l[2], l[0] = l[0], l[2]

print(l)

[5, 5, 5, 2, 3, 7]

In [ ]:
l = [2,3,4]
l.insert(2,6)

In [ ]:
#Removing the data
# 1- pop()
# 2- remove()

In [ ]:
a = [2, 4, 6, 3, 1]

In [ ]:
#pop() - by default - pops or removes the last element of the list and returns the removed element

In [ ]:
x = a.pop()

print(x, a)

1 [2, 4, 6, 3]

In [ ]:
#how to pop element at a specific index

In [ ]:
x = a.pop(0)

In [ ]:
print(x)
print(a)

2
[4, 6, 3]

In [ ]:
#pop(i) - removes and returns the element present at the ith index

In [ ]:
x = a.pop(7)

IndexError: ignored

In [ ]:
'''
Q6:
'''

ll = [1, 2, 3, 3, 5, 6, 7, 5]
ll.pop(5)
print(ll)

[1, 2, 3, 3, 5, 7, 5]

In [ ]:
#remove: removes an element based on the element provided 
#diff from pop - as pop() uses index whereas remove uses element

# remove(x) : removes the first occurance of the element x - if it is present

#remove mehtod doesn't return the removed value

In [ ]:
ll = [1, 2, 3, 3, 5, 6, 7, 5]
ll.remove(2)
print(ll)

[1, 3, 3, 5, 6, 7, 5]

In [ ]:
ll = [1, 2, 3, 3, 5, 6, 7, 5]
ll.remove(3)
print(ll)

[1, 2, 3, 5, 6, 7, 5]

In [ ]:
ll = [1, 2, 3, 3, 5, 6, 7, 5]
ll.remove(3)
ll.remove(5)
print(ll)

[1, 2, 3, 6, 7, 5]

In [ ]:
lst = [1, 2, 3, 3, 5, 6, 7, 5]
x = lst.remove(3)

print(x)

None

In [ ]:
print(ll)

[1, 2, 3, 5, 6, 7, 5]

In [ ]:
#Linear search

# Given a list of integers, print the index of the first occurance of an element x
#will discuss at begining of thu class - till then everyone - just attempt it
#will cover another extension of this in next class- print every index of occurance of that element x

eg: a = [1,3, 4, 2, 5, 2]
x = 2
Ans = 3

In [ ]:
'''
Q5:
'''

a = [3, 6, 7]
a[1] = a[2]
a[2] = a[0]
a[0] = a[1]


print(a)

[7, 7, 3]

In [ ]:
lst = [1,3,5]

for i in lst:
  print(i)

1
3
5

In [ ]:
lst = [1,3,5]

n = len(lst)

for i in range(n):
  print(lst[i])

1
3
5

In [ ]:
lst = [1, 2, 3, 3, 5, 6, 7, 5]
lst.remove(7)

print(lst)

[1, 2, 3, 3, 5, 6, 5]

In [ ]:
print(x)

None