<a href="https://colab.research.google.com/github/gchn24/DS-Notes/blob/main/list_comprehension_%2B_PS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
'''
Given a list, create a new list which contains the cube of the given elements

a = [1,2,3]
b = [1, 8, 27]
'''

In [ ]:
a = [1,2,3]
b = []

for elem in a:
  b.append(elem**3)

In [ ]:
print(b)

[1, 8, 27]

In [ ]:
a = [1,2,3]

In [ ]:
b = [ elem**3 for elem in a]

In [ ]:
print(b)

[1, 8, 27]

In [ ]:
'''
Given a list, create a new list that contains the twice of each of the number in the list.
Use List Comprehension
'''

'\nGiven a list, create a new list that contains the twice of each of the number in the list.\nUse List Comprehension\n'

In [ ]:
a = [3,2,1]
b = []
for elem in a:
  b.append(elem*2)

print(b)

[6, 4, 2]

In [ ]:
b = [ elem*2 for elem in a]

In [ ]:
print(b)

[6, 4, 2]

In [ ]:
'''
Given a list of numbers, create a new list with all the numbers other than 5 - skip 5

Write both codes -
1. Simple for loop
2. List comprehension
'''

a = [4,3,5,6,7]
b = [4,3,6,7]

In [ ]:
#version1
a = [4,3,5,6,7]
b = []
for elem in a:
  if elem != 5:
    b.append(elem)


print(b)

[4, 3, 6, 7]

In [ ]:
b = [elem for elem in a if elem != 5]

In [ ]:
print(b)

[4, 3, 6, 7]

In [ ]:
'''
Given a list, create a new list that contains the same number if it is even and contains the twice of the number, if it is odd
'''

a = [3,5,2,4]
b = [6, 10, 2, 4]

In [ ]:
def check(n):
  if n%2 ==0:
    return n
  else:
    return n*2

In [ ]:
a = [3,5,2,4]
b = []
for elem in a:
  b.append(check(elem))

print(b)

[6, 10, 2, 4]

In [ ]:
c = [check(elem) for elem in a]

In [ ]:
print(c)

[6, 10, 2, 4]

In [ ]:
d = [elem if elem%2 ==0 else elem*2 for elem in a]

In [ ]:
print(d)

[6, 10, 2, 4]

In [ ]:
a = ["a","b","c"]
b = ["1", "2", "3"]

for i in a:
  for j in b:
    print(i+j, end = " ")

<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>

In [ ]:
e = [i+j for i in a for j in b]

In [ ]:
print(e)

['a1', 'a2', 'a3', 'b1', 'b2', 'b3', 'c1', 'c2', 'c3']

In [ ]:
print(f)

[['a1', 'b1', 'c1'], ['a2', 'b2', 'c2'], ['a3', 'b3', 'c3']]

In [ ]:
aa = [i for i in a]

In [ ]:
print(aa)

['a', 'b', 'c']

In [ ]:
a = ["a","b","c"]
b = ["1", "2", "3"]

f = [[i + j for i in a] for j in b]

In [ ]:
ans = []
for j in b:
  row = []
  for i in a:
    row.append(i+j)
  ans.append(row)

print(ans)

[['a1', 'b1', 'c1'], ['a2', 'b2', 'c2'], ['a3', 'b3', 'c3']]

In [ ]:
8:01 --> 8:10

In [ ]:
my_string = "adityadjain"
k = [i for i in my_string if i not in "aeiou"]

In [ ]:
k

['d', 't', 'y', 'd', 'j', 'n']

In [ ]:
'''
HW:
In the above code, print the char in lower case if it is vowel else print it in upper case
'''
my_string = "adityadjain"
# op: [a, D, i, T, Y, a, D, J, a , i , N]

In [ ]:
'''
Q:
'M2004Sam'
Find the age of the person using list comprehension
'''

In [ ]:
s = 'M2004Sam'

In [ ]:
dob = s[1:5]

In [ ]:
print(dob)

2004

In [ ]:
type(dob)

str

In [ ]:
dob_int = int(dob)

In [ ]:
age = 2022 - dob_int
print(age)

18

In [ ]:
ip = ['M2004Sam', 'F2001Riya', 'M1998Ani', 'F2005Diya']

In [ ]:
age = [2022- int(s[1:5]) for s in ip]

In [ ]:
print(age)

[18, 21, 24, 17]

In [ ]:
ans = []
for a in age:
  if a > 18:
    ans.append("You can enter")
  else:
    ans.append("You are not allowed")

print(ans)

['You are not allowed', 'You can enter', 'You can enter', 'You are not allowed']

In [ ]:
ans = ["Can enter" if (2022- int(s[1:5])) > 18 else "No entry!" for s in ip]

In [ ]:
print(ans)

['No entry!', 'Can enter', 'Can enter', 'No entry!']

In [ ]:
# lis = [(0, 2), (1, 3), (2, 4)]
# result = sum (n for _, n in lis)
# print(result)