<a href="https://colab.research.google.com/github/gchn24/DS-Notes/blob/main/Sept_PS_Sets%2BTuples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello class!")

Hello class!

In [ ]:
a = (10, 8, 5, 2, 10, 15, 10, 8, 5, 8, 8, 2)

In [ ]:
n = len(a)

for i in range(n):
  print(f"element {a[i]} is present at index is {i}")

element 10 is present at index is 0
element 8 is present at index is 1
element 5 is present at index is 2
element 2 is present at index is 3
element 10 is present at index is 4
element 15 is present at index is 5
element 10 is present at index is 6
element 8 is present at index is 7
element 5 is present at index is 8
element 8 is present at index is 9
element 8 is present at index is 10
element 2 is present at index is 11

In [ ]:
b = ()
type(b)

tuple

In [ ]:
s = {}
type(s)

dict

In [ ]:
s1 = set()
type(s1)

set

In [ ]:
n = len(a)

even = []
odd = []

for i in range(n):
  if (i+1)%2 == 0:
    even.append(a[i])
  else:
    odd.append(a[i])

print("Odd: ", tuple(odd))
print("even: ", tuple(even))

Odd:  (10, 5, 10, 10, 5, 8)
even:  (8, 2, 15, 8, 8, 2)

In [ ]:
#approach2 - using tuple slicing

a = (10, 8, 5, 2, 10, 15, 10, 8, 5, 8, 8, 2)

odd = a[::2]
even = a[1::2]

print("Odd: ", odd)
print("Even: ", even)

Odd:  (10, 5, 10, 10, 5, 8)
Even:  (8, 2, 15, 8, 8, 2)

In [ ]:
#appraoch1:

a = (10, 8, 5, 2, 10, 15, 10, 8, 5, 8, 8, 2)

for elem in a:
  print(f"{elem} : {a.count(elem)}")

10 : 3
8 : 4
5 : 2
2 : 2
10 : 3
15 : 1
10 : 3
8 : 4
5 : 2
8 : 4
8 : 4
2 : 2

In [ ]:
#appraoch1:

a = (10, 8, 5, 2, 10, 15, 10, 8, 5, 8, 8, 2)

visited = []

for elem in a:
  if elem not in visited:
    visited.append(elem)
    print(f"{elem} : {a.count(elem)}")

10 : 3
8 : 4
5 : 2
2 : 2
15 : 1

In [ ]:
tup = a
for i in range(len(tup)):
  if tup[i] not in tup[:i]:
    print(f"{tup[i]} : {tup.count(tup[i])}")

10 : 3
8 : 4
5 : 2
2 : 2
15 : 1

In [ ]:
# for i in range(len(a)):
#   print(a[:i])

()
(10,)
(10, 8)
(10, 8, 5)
(10, 8, 5, 2)
(10, 8, 5, 2, 10)
(10, 8, 5, 2, 10, 15)
(10, 8, 5, 2, 10, 15, 10)
(10, 8, 5, 2, 10, 15, 10, 8)
(10, 8, 5, 2, 10, 15, 10, 8, 5)
(10, 8, 5, 2, 10, 15, 10, 8, 5, 8)
(10, 8, 5, 2, 10, 15, 10, 8, 5, 8, 8)

In [ ]:
name_lst = ["Vijay", "Vickey"]
tup = ("Item_1", 0.5, name_lst)
# name_lst.append("Vishal")
print(tup)

('Item_1', 0.5, ['Vijay', 'Vickey'])

In [ ]:
name_lst = ["Vijay", "Vickey"]
tup = ("Item_1", 0.5, name_lst)
name_lst.append("Vishal")
print(tup)

('Item_1', 0.5, ['Vijay', 'Vickey', 'Vishal'])

In [ ]:
name_lst = ["a", "b"]
tup = ("1", 0.5, name_lst)
print(f"Before change : {tup}")
name_lst.append("c")
print(f"After change : {tup}")

Before change : ('1', 0.5, ['a', 'b'])
After change : ('1', 0.5, ['a', 'b', 'c'])

In [ ]:
name_lst = ["a", "b"]
name_lst.append("c")
tup = ("1", 0.5, ["c", "d"])
print(f"After change : {tup}")
print(name_lst)

After change : ('1', 0.5, ['c', 'd'])
['a', 'b', 'c']

In [ ]:
a = (10, 20, 30, 40, 50)
k = 30

n = len(a)
for i in range(n):

  if a[i] == k:
    print(i)
    break

In [ ]:
#howework problems:

s1 = "Hello everyone hello"
s2 = "You guys are awesome"

unique1 = 3
unique2 = 4
ans : 3+4 = 7

In [ ]:
s1 = "Hello everyone hello"
s2 = "You guys are awesome"

len(set(s1+s2))

17

In [ ]:
a = ["adi", "aj", "adit", "aj","adi","adit"]
s = set(a)
print(s)

{'adi', 'adit', 'aj'}

In [ ]:
st = "aditya"
s = set(st)
print(s)

{'y', 't', 'a', 'd', 'i'}

In [ ]:
a = ("ab","ac","ac","ad")
s = set(a)
print(s)

{'ab', 'ad', 'ac'}

In [ ]:
a = "abcbaa defaa"
s = set(a)
print(s)

{' ', 'f', 'a', 'd', 'c', 'b', 'e'}

In [ ]:
s1 = "random everyone random hi random"
s2 = "You guys are awesome"

words1 = s1.split()
words2 = s2.split()

set1 = set(words1)
set2 = set(words2)
print("lists are: ",words1, words2)
print("sets are:", set1, set2)

print(len(set1) + len(set2))

lists are:  ['random', 'everyone', 'random', 'hi', 'random'] ['You', 'guys', 'are', 'awesome']
sets are: {'everyone', 'random', 'hi'} {'are', 'You', 'guys', 'awesome'}
7

In [ ]:
#Dictionary

'''
Dictionary of dictionaries
'''


student1 = {
    "name" : "AJ",
    "city" : "Mumbai"
}

student2 = {
    
    "name" : "Justin",
    "city" : "Thrissur"
}

student2 = {
    "name" : "Ankitha",
    "city" : "Bangalore"
}


batch = {
    "student1" : 

}