<a href="https://colab.research.google.com/github/gchn24/DS-Notes/blob/main/sept_inter_oops3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
class SchoolMember:

  def __init__(self, name):
    self.name = name

class Student(SchoolMember): #inheriting parent class
#child - Student, parent- SchoolMember
  def __init__(self, name, grade):
    super().__init__(name)
    self.grade = grade


class Staff(SchoolMember):

  def __init__(self, name, exp):
    super().__init__(name)
    self.exp = exp


class Teacher(Staff):

  def __init__(self, name, exp, subject):
    super().__init__(name, exp)
    self.subject = subject

In [ ]:
#private data members

In [ ]:
class BankAccount:

  def __init__(self, balance):
    self.balance = balance

  def withdrawal(self, amount):
    self.balance -= amount
  
  def deposit(self, amount):
    self.balance += amount

In [ ]:
b1 = BankAccount(10000)

In [ ]:
b1.deposit(5000)

In [ ]:
b1.balance

15000

In [ ]:
b1.withdrawal(3000)
b1.balance

12000

In [ ]:
b1.balance = 54845969356847547984569745878743579458748578787878776767

In [ ]:
b1.balance

54845969356847547984569745878743579458748578787878776767

In [ ]:
#Private properties: --> __var will make var private
# 1- will be accessible within the class only
# 2- will not be able to access from outside of the class definition

In [ ]:
class BankAccount:

  def __init__(self, balance):
    self.__balance = balance

  #setter
  def withdrawal(self, amount):
    self.__balance -= amount
    
  #setter
  def deposit(self, amount):
    self.__balance += amount

  #getter
  def check_balance(self):
    return self.__balance

In [ ]:
b1 = BankAccount(10000)

In [ ]:
b1.__balance

AttributeError: ignored

In [ ]:
b1.balance

AttributeError: ignored

In [ ]:
b1.check_balance()

10000

In [ ]:
b1.withdrawal(1000)

In [ ]:
b1.check_balance()

9000

In [ ]:
b1.deposit(20000)

In [ ]:
b1.check_balance()

29000

In [ ]:
b1._BankAccount__balance = 765798546984758874568724587724657647658732457674
#Name Mangling

In [ ]:
b1.check_balance()

765798546984758874568724587724657647658732457674

In [ ]:
dir(b1)

['_BankAccount__balance',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'check_balance',
 'deposit',
 'withdrawal']

In [ ]:
# Nothing can be completely private in python

In [ ]:
#Multiple Inheritence

In [ ]:
class A:

  def __init__(self, a):
    self.a = a


class B:

  def __init__(self, b):
    self.b = b

#class C inherits from both A and B - multiple inheritence
class C(A, B):
  
  def __init__(self, a, b, c):

    #Assumption 1
    super().__init__(a,b)
    self.c = c

In [ ]:
c1 = C(1,2,3)

TypeError: ignored

In [ ]:
class A:

  def __init__(self, a):
    self.a = a


class B:

  def __init__(self, b):
    self.b = b

#class C inherits from both A and B - multiple inheritence
class C(A, B):
  
  def __init__(self, a, b, c):

    #Assumption 1
    # super().__init__(a,b)

    #Assumption2
    super().__init__(a)
    super().__init__(b)

    self.c = c

In [ ]:
c1 = C(1,2,3)

In [ ]:
c1.a

2

In [ ]:
c1.c

3

In [ ]:
c1.b

AttributeError: ignored

In [ ]:
class A:

  def __init__(self, a):
    self.a = a


class B:

  def __init__(self, b):
    self.b = b

#class C inherits from both A and B - multiple inheritence
class C(A, B):
  
  def __init__(self, a, b, c):

    #Assumption 1
    # super().__init__(a,b)

    #Assumption2
    # super().__init__(a)
    # super().__init__(b)

    #Assumtion3
    A.__init__(self,a)
    B.__init__(self,b)
    self.c = c

In [ ]:
c1 = C(1,2,3)

In [ ]:
c1.a

1

In [ ]:
c1.b

2

In [ ]:
c1.c

3

In [ ]:
#Method Resolution Order

In [ ]:
class A:
  x = 10

class B(A):
  pass

class C(B):
  pass

class D(A):
  x = 5

class E(C, D):
  pass

In [ ]:
e1 = E()

In [ ]:
e1.x

5

In [ ]:
class A:
  pass

class B(A):
  pass

class C(B):
  x = 10

class D(A):
  x = 5

class E(C, D):
  pass

In [ ]:
e1 = E()
e1.x

10

In [ ]:
class A:
  pass

class B(A):
  x = 10

class C(B):
  pass

class D(A):
  x = 5

class E(C, D):
  pass

In [ ]:
e1 = E()
e1.x

10

In [ ]:
#this will give the method resolution order to you
E.__mro__

(__main__.E, __main__.C, __main__.B, __main__.D, __main__.A, object)

In [ ]:
#Example 2
class A:
  pass

class B(A):
  pass

class C(B):
  pass

class D(B):
  pass

class E(D):
  pass

class F(C,E):
  pass

class G(A):
  pass

class H(F,G):
  pass

In [ ]:
H.__mro__

(__main__.H,
 __main__.F,
 __main__.C,
 __main__.E,
 __main__.D,
 __main__.B,
 __main__.G,
 __main__.A,
 object)