<a href="https://colab.research.google.com/github/gchn24/DS-Notes/blob/main/Sept_inter_functional_programming_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("You guys are doing awesome!! Keep going!!")

You guys are doing awesome!! Keep going!!

In [ ]:
x = 5 


x = 3*x
x = x+1

In [ ]:
print(x)

16

In [ ]:
x = 5 #initial value

#hidden mutations
x = 3*x
x = x+1
#hidden mutations

#Problem is = we can't rollback/undo mutations

In [ ]:
#soln1


x = 5
x1 = 3*x
x2 = x1+1

#problem - too much variables leading to too much space/memory

In [ ]:
print(x,x1,x2)

5 15 16

In [ ]:
#Principles of Functional Programming

In [ ]:
x = 5

def mutations(x):
  x = 3*x
  x = x+1
  return x

x1 = mutations(x)

In [ ]:
print(x,x1)

5 16

In [ ]:
#Maps

In [ ]:
map(function_to_perform, *iterables)

In [ ]:
'''
Q1- Given a list of int, create another list which contains the square of the elements in it

a = [1,2,3,4,5]
b = [1,4,9,16,25]
'''

'\nQ1- Given a list of int, create another list which contains the square of the elements in it\n\na = [1,2,3,4,5]\nb = [1,4,9,16,25]\n'

In [ ]:
#list comprehension

In [ ]:
a = [1,2,3,4,5]
b = [1,4,9,16,25]

In [ ]:
b = [x*x for x in a]

In [ ]:
b

[1, 4, 9, 16, 25]

In [ ]:
# __iter__
# __next__

In [ ]:
def square_x(x):
  return x**2

In [ ]:
#maps

m = map(square_x, a)

In [ ]:
print(m)

<map object at 0x7fdd0e78df40>

In [ ]:
#maps

m = list(map(square_x, a))
m

[1, 4, 9, 16, 25]

In [ ]:
#lambda function

m = list(map(lambda x: x**2, a))
m

[1, 4, 9, 16, 25]

In [ ]:
'''
Question:
Convert heights to t-shirt sizes

Rules:
h < 150 ---> S
h >=150 and h < 180 --> M
h >=180 --> L
'''

'\nQuestion:\nConvert heights to t-shirt sizes\n\nh < 150 ---> S\nh >=150 and h < 180 --> M\nh >=180 --> L\n'

In [ ]:
heights = [144,167,189,170, 190, 150, 165, 178, 200, 130]

ans = [S,M,L,M,L,M,M,M,L,S]

In [ ]:
def complex_logic(height):

  if height < 150:
    return "S"
  elif height >=150 and height < 180:
    return "M"
  elif height >= 180:
    return "L"

In [ ]:
heights = [144,167,189,170, 190, 150, 165, 178, 200, 130]

In [ ]:
#version1

sizes =  list(map(complex_logic, heights))
sizes

['S', 'M', 'L', 'M', 'L', 'M', 'M', 'M', 'L', 'S']

In [ ]:
#using lambda function

In [ ]:
sizes2 = list(map(lambda x: "S" if x < 150 else "M" if x >= 150 and x < 180 else "L", heights))
sizes2

['S', 'M', 'L', 'M', 'L', 'M', 'M', 'M', 'L', 'S']

In [ ]:
'''
Q3:
Given two lists A and B having 1 and 0s, find another list with element 
at index i as True if A[i] == B[i] else False

A = [1,0,0,1,1,1,0,0,0,1,0,1]
B = [0,0,1,1,0,1,1,1,0,0,0,0]
C = [False, True, False....]

C = True if both have same element else False
'''

In [ ]:
A = [1,0,0,1,1,1,0,0,0,1,0,1]
B = [0,0,1,1,0,1,1,1,0,0,0,0]

In [ ]:
C = list(map(lambda x,y: x == y, A, B))
C

[False, True, False, True, False, True, False, False, True, False, True, False]

In [ ]:
#elementwise operations - Numpy Classes - later on

In [ ]:
#Quiz
random1 = [1,2,3]
random2 = [1,2,3]

random = list(map(lambda x,y: x+y, random1, random2))
random

[2, 4, 6]

In [ ]:
#Quiz
random1 = [1,2,3]
random2 = [1,2,3,4,5]

random = list(map(lambda x,y: x+y, random1, random2))
random

[2, 4, 6]

In [ ]:
#Filter

In [ ]:
a = list(range(1,11))
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
f = filter(lambda aj: aj%2 == 0, a)
f

In [ ]:
f_list = list(f)
f_list

[2, 4, 6, 8, 10]

In [ ]:
#doubt:

square = lambda x: x*x if (x>0) else None

print(square(-2))

None

In [ ]:
#zip

In [ ]:
a = [1,2,3]
b = ["a","b","c"]

result = list(zip(a,b))
result

[(1, 'a'), (2, 'b'), (3, 'c')]

In [ ]:
a = [1,2,3]
b = ["a","b","c","d"]

result = list(zip(b,a))
result

[('a', 1), ('b', 2), ('c', 3)]

In [ ]:
a = [1,2,3]
b = ["a","b","c"]
c = ["x","y","z"]

result = list(zip(a,b,c))
result

[(1, 'a', 'x'), (2, 'b', 'y'), (3, 'c', 'z')]

In [ ]:
#Reduce

In [ ]:
from functools import reduce

#this line brings reduce function into the current code

In [ ]:
a = [1,2,3,4,5]

In [ ]:
result = reduce(lambda x,y: x+y, a)
result

15

In [ ]:
result = reduce(lambda x,y: x+y, a,100)
result

115

In [ ]:
help(reduce)

Help on built-in function reduce in module _functools:

reduce(...)
    reduce(function, sequence[, initial]) -> value

    Apply a function of two arguments cumulatively to the items of a sequence,
    from left to right, so as to reduce the sequence to a single value.
    For example, reduce(lambda x, y: x+y, [1, 2, 3, 4, 5]) calculates
    ((((1+2)+3)+4)+5).  If initial is present, it is placed before the items
    of the sequence in the calculation, and serves as a default when the
    sequence is empty.

In [ ]:
result = reduce(lambda x,y: x*y, a)
result

120

In [ ]:
#use reduce to find the max element in a list

a = [5,3,7,2,9,1]
# op: 9

In [ ]:
max_element = reduce(lambda x, y: x if x > y else y, a)
max_element

#by default- initial - first element of the list/iterable

9

In [ ]:
#Args and Kwargs

In [ ]:
'''
Task: create a function that sums the input

ideally:
a good sum function
- should take atleast 2 arguments
- should take a infinite/any number number of arguments
'''

In [ ]:
def sum_numbers(x,y):
  return x+y

In [ ]:
res = sum_numbers(2,5)
res

7

In [ ]:
res2 = sum_numbers(2,5,6,7,8,9,10)
res2

TypeError: ignored

In [ ]:
def sum_numbers2(x,y, *args):
  print(x,y,args)

In [ ]:
res2 = sum_numbers2(2,5)
# res2

2 5 ()

In [ ]:
res2 = sum_numbers2(2,5,6)
# res2

2 5 (6,)

In [ ]:
res2 = sum_numbers2(2,5,6,7,8,9)
# res2

2 5 (6, 7, 8, 9)

In [ ]:
bool(())

False

In [ ]:
def sum_numbers2(x,y, *args):

  result = x+y
  if args:
    result += sum(args)

  return result

In [ ]:
res2 = sum_numbers2(2,5)
res2

7

In [ ]:
res2 = sum_numbers2(2,5,1)
res2

8

In [ ]:
def sum_numbers2(x,y, *aj):

  result = x+y
  if aj:
    result += sum(aj)

  return result

In [ ]:
res2 = sum_numbers2(2,5,1)
res2

8

In [ ]:
#kwargs

In [ ]:
def create_profile(name, state, city):
  Person = {
      "name" : name,
      "state" : state,
      "city" : city
  }

  return Person

In [ ]:
p1 = create_profile(name = "Abdullah", state = "Tamilnadu", city = "Coimbatore")
p1

{'name': 'Abdullah', 'state': 'Tamilnadu', 'city': 'Coimbatore'}

In [ ]:
p2 = create_profile(name = "Sumit", state = "Chhattisgarh", city = "Bilaspur")
p2

{'name': 'Sumit', 'state': 'Chhattisgarh', 'city': 'Bilaspur'}

In [ ]:
def create_profile(name, state, city, **kwargs):
  # Person = {
  #     "name" : name,
  #     "state" : state,
  #     "city" : city
  # }

  # if kwargs:
  #   Person.update(kwargs)

  print(type(kwargs))

  # return Person

In [ ]:
p2 = create_profile(name = "Sumit", state = "Chhattisgarh", city = "Bilaspur", color="LightBlue", hobby ="sleeping")
# p2

<class 'dict'>

In [ ]:
def create_profile(name, state, city, **kwargs):
  Person = {
      "name" : name,
      "state" : state,
      "city" : city
  }

  if kwargs:
    Person.update(kwargs)

  # print(type(kwargs))

  return Person

In [ ]:
p2 = create_profile(name = "Sumit", state = "Chhattisgarh", city = "Bilaspur", color="LightBlue", hobby ="sleeping")
p2

{'name': 'Sumit',
 'state': 'Chhattisgarh',
 'city': 'Bilaspur',
 'color': 'LightBlue',
 'hobby': 'sleeping'}

In [ ]:
#Quiz

def random(x, *args, **kwargs):
  print(x)
  print(args)
  print(kwargs)

In [ ]:
random(1,2,4,5,6, m=1, n=2, z=3)

1
(2, 4, 5, 6)
{'m': 1, 'n': 2, 'z': 3}

In [ ]:
random(1,2,4,5,6, m=1, 7, n=2, z=3)

SyntaxError: ignored

In [ ]:
# order of passing argumnets: 

# psitional --> *args --> keyworded --> **kwargs

In [ ]:
#Quiz2

def random(x, *args, **kwargs):
  print(x)
  print(args)
  print(kwargs)

In [ ]:
random(2,z=1)

2
()
{'z': 1}

In [ ]:
# aditya
# jain
# yo
# everyone

In [ ]:
#doubts

In [ ]:
a = [1,5,2]
max_element = reduce(lambda x, y: max(x,y), a)
max_element

#by default- initial - first element of the list/iterable

5