<a href="https://colab.research.google.com/github/gchn24/DS-Notes/blob/main/Sept_2D_Problems.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hows the josh??")

Hows the josh??

In [ ]:
a = [1,2,3]

In [ ]:
print(a[0])

1

In [ ]:
a = [[1,2,3] , [4,5,6], [7,8,9]]

In [ ]:
print(a[0])

[1, 2, 3]

In [ ]:
print(a[0][0])

1

In [ ]:
print(a[0][1])

2

In [ ]:
print(a[0][2])

3

In [ ]:
for elem in a:
  for i in elem:
    print(i)

1
2
3
4
5
6
7
8
9

In [ ]:
b = [1,2,3]

In [ ]:
for i in b:
  print(i)

1
2
3

In [ ]:
for elem in a:
  
  for i in elem:
    print(i, end = " ")
  
  print()

1 2 3
4 5 6
7 8 9

In [ ]:
a = [[1,2], [3,4], [5,6], [7,8]]

In [ ]:
print(len(a))

4

In [ ]:
print(len(a[3]))

2

In [ ]:
#practice problem

In [ ]:
odi = [100,99,20]
test = [120,50,30]
t20 = [20,33,40]

In [ ]:
scores = [odi, test, t20]

In [ ]:
print(scores)

[[100, 99, 20], [120, 50, 30], [20, 33, 40]]

In [ ]:
for cric_format in scores:
  print(cric_format)

[100, 99, 20]
[120, 50, 30]
[20, 33, 40]

In [ ]:
print("Printing the index values of each of hte matrix element")
for row in range(len(scores)):
  for col in range(len(scores[row])):
    print(row, col, end = "    ")

  print()

Printing the index values of each of hte matrix element
0 0    0 1    0 2
1 0    1 1    1 2
2 0    2 1    2 2

In [ ]:
a = [[1,2,3], [1,2], [1,2,3,4]]

In [ ]:
rows = len(a)
cols = len(a[0])

for row in range(rows):
  for col in range(cols):
    print(a[row][col])


#this is wrong because the lists are of diff length

1
2
3
1
2

IndexError: ignored

In [ ]:
for row in range(len(a)):
  
  for col in range(len(a[row])):
    print(a[row][col], end = " ")
  
  print()

1 2 3
1 2
1 2 3 4

In [ ]:
for row in range(len(a)):
  print(f"The number of elements in row {row} is {len(a[row])}")

The number of elements in row 0 is 3
The number of elements in row 1 is 2
The number of elements in row 2 is 4

In [ ]:
for row in range(len(a)):
  print("The number of elements in row ", row, " is ", len(a[row]))

The number of elements in row  0  is  3
The number of elements in row  1  is  2
The number of elements in row  2  is  4

In [ ]:
for elem in a:
  for i in elem:
    print(i, end = " ")
  print()

1 2 3
1 2
1 2 3 4

In [ ]:
'''
You are a data scientist at ICC and you need to find the runs scored by Sachin and Ganguly in partnerships,
also store them in a new list

Note: both the score lists are of same size
'''

'\nYou are a data scientist at ICC and you need to find the runs scored by Sachin and Ganguly in partnerships,\nalso print them in a new list\n\nNote: both the score lists are of same size\n'

In [ ]:
sachin = [
          [1,2,3],
          [4,5,6],
          [7,8,9]  ]


ganguly = [
          [11,20,13],
          [1,2,5],
          [9,18,4]  ]


'''
Matrix Addition
Output:
12  22 16
5   7  11
16 26  13
'''

'\nMatrix Addition\nOutput:\n12  22 16\n5   7  11\n16 26  13\n'

In [ ]:

#iterating over Sachin Matrix
for i in range(len(sachin)):
  for j in range(len(sachin[i])):
    print(sachin[i][j], end=" ")
  print()

1 2 3
4 5 6
7 8 9

In [ ]:

#iterating over Ganguly Matrix
for i in range(len(ganguly)):
  for j in range(len(ganguly[i])):
    print(ganguly[i][j], end=" ")
  print()

11 20 13
1 2 5
9 18 4

In [ ]:

#Matrix addition is done element by element - always done on same size matrix
for i in range(len(sachin)):
  for j in range(len(sachin[i])):
    print(sachin[i][j] + ganguly[i][j], end=" ")
  print()

12 22 16
5 7 11
16 26 13

In [ ]:

#Matrix addition is done element by element -storing in result matrix
partnership = []
for i in range(len(sachin)):
  row=[]
  for j in range(len(sachin[i])):
    row.append(sachin[i][j] + ganguly[i][j])

  partnership.append(row)

In [ ]:
print(partnership)

[[12, 22, 16], [5, 7, 11], [16, 26, 13]]

In [ ]:
for row in partnership:
  for elem in row:
    print(elem, end =" ")

  print()

12 22 16
5 7 11
16 26 13

In [ ]:
# break till 8:10

In [ ]:
#row-wise sum

class Solution:
    # @param A : list of list of integers
    # @return a list of integers
    def solve(self, A):
        
        row_sums = []
        
        for i in range(len(A)):
            
            sum = 0
            
            for j in range(len(A[i])):
                sum += A[i][j]
                
            row_sums.append(sum)
                
        
        return row_sums

In [ ]:
#dry run

a = [ [1,2,3], [4,5,6], [1,2,3] ]

row_sums = []
        
for i in range(len(a)): 
    sum = 0

    for j in range(len(a[i])):
        sum += a[i][j]
        
    row_sums.append(sum)

In [ ]:
print(row_sums)

[6, 15, 6]

In [ ]:
#imp concept

In [ ]:
for i in range(5):
  for j in range(3):
    print(f"i={i} and j={j}", end = "     ")

  print()

i=0 and j=0     i=0 and j=1     i=0 and j=2
i=1 and j=0     i=1 and j=1     i=1 and j=2
i=2 and j=0     i=2 and j=1     i=2 and j=2
i=3 and j=0     i=3 and j=1     i=3 and j=2
i=4 and j=0     i=4 and j=1     i=4 and j=2

In [ ]:
for i in range(3):

  sum = 0

  for j in range(3):
    # print(f"i={i} and j={j}", end = "     ")
    sum += a[i][j]

  print(sum)

6
15
6

In [ ]:
col_sums = []
for col in range(len(a[0])):
  sum = 0
  for row in range(len(a)):

    sum += a[row][col]

  col_sums.append(sum)

In [ ]:
print(col_sums)

[6, 9, 12]

In [ ]:
print(chr(10084), "You all")

❤ You all

In [ ]:
col_sums = []
for col in range(len(a[0])):
  sum = 0
  for row in range(len(a)):

    sum += a[row][col]

  col_sums.append(sum)

In [ ]:
a=[]
for i in a:
  i=[]
for j in i:
  j=int(input())
  i=i+[j]

a=a+i

In [ ]:
a = []
for i in range(2):
  row = []
  for j in range(2):
    row.append(int(input()))

  a.append(row)

In [ ]:

#Matrix addition is done element by element -storing in result matrix
partnership = []
for i in range(len(sachin)):
  row=[]
  for j in range(len(sachin[i])):
    row.append(sachin[i][j] + ganguly[i][j])

  partnership.append(row)

In [ ]:
m = [ [1,2,3,4],
[5,6,7,8],
[9,2,3,4] ]

row_sums = [] 
for i in range(len(m)): 
  sum = 0 
  for j in range(len(m[i])):
    sum += m[i][j] 

  row_sums.append(sum) 
  
print(row_sums)