<a href="https://colab.research.google.com/github/gchn24/DS-Notes/blob/main/sept_inter_ps3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
class fruits:
    def __init__(self, price):
        self.price = price

obj=fruits(50)
obj.quantity=10
obj.bags=2

# print(obj.quantity+len(obj.__dict__))

In [ ]:
print(obj.__dict__)

{'price': 50, 'quantity': 10, 'bags': 2}

In [ ]:
len(obj.__dict__)

3

In [ ]:
print(obj.quantity + len(obj.__dict__))

13

In [ ]:
#oops + functional

class solution:
  def initial(self,sets):
    return self.final(sets)
 
  def final(self, sets):
    return list(map(lambda x: ((x**3)%2==0,x**3),sets))

print(solution().initial([4,5,6]))

In [ ]:
#oops + functional

class solution:
  def initial(self,sets):
    return self.final(sets)
 
  def final(self, sets):
    return list(map(lambda x: ((x**3)%2==0,x*2+3-2*x+5),sets))

print(solution().initial([4,5,6]))

In [ ]:
def __init__(self, marks1,marks2,credits1, credits2): 
  if marks1 >= 90: points1 = 10 
    self.points1 = points1 
  elif 75 <= marks1 < 90: points1 = 9 
    self.points1 = points1 
  elif 60 <= marks1 < 75: points1 = 8 
    self.points1 = points1 
  elif 45 <= marks1 < 60: 
    points1 = 7 
    self.points1 = points1 
  else: points1 = 0 
    self.points1 = points1 
  if marks2 >= 90: points2 = 10 
    self.points2 = points2 
  elif 75 <= marks2 < 90: points2 = 9 
  self.points2 = points2 
  elif 60 <= marks2 < 75: points2= 8 
  self.points2 = points2 
  elif 45 <= marks2 < 60: points2 = 7 
  self.points2 = points2 
  else: points2 = 0 
    self.points2 = points2 
    self.credits1 = credits1 
    self.credits2 = credits2

In [ ]:
def grade_point_average(self): 
  gpa=0 
  gpa = ((self.points1 * self.credits1) + (self.points2 * self.credits2)) / (self.credits1 + self.credits2) 
  return gpa

In [ ]:
class Student:
    
    def __init__(self,roll,marks):
        self.roll = roll
        self.marks = marks
    
    def display(self):
        print('Roll:', self.roll,'Marks:',self.marks, end=" ")

student1 = Student(34,'A')
student1.age = 17
print(student1.display(), 'Age:',student1.age)

Roll: 34 Marks: A None Age: 17

In [ ]:
class football:
    final_res= 'lose'
    
    def __init__(self,name,score):
        self.name = name
        self.score = score
        self.final_res = 'lose'
    
    def calc(self, winning_score):
        if self.score>winning_score:
            self.final_res='win'

match = football('Juventus',3)
match.calc(2)
print(football.final_res, match.final_res)

lose win

In [ ]:
class Student:
  # Class variable
  subject_name = 'Math for Machine Learning'

  # constructor
  def __init__(self, name, roll_no):
    self.name = name
    self.roll_no = roll_no

# outside the class
# create Objects
s1 = Student('Emma', 10)
s1.subject_name = 'Machine Learning'
# print(s1.name, s1.roll_no, s1.subject_name)
s2 = Student("AJ", 10)
print(s2.name, s2.roll_no, s2.subject_name)

AJ 10 Math for Machine Learning

In [ ]:
    s1 = Student('Emma', 10), 
    No change required
    None of the above
    s1 = Student('Emma', 10), Student.subject_name = 'Machine Learning'
    s1 = Student('Emma', 10), s1.subject_name = 'Machine Learning'

In [ ]:
 Emma 10 Machine Learning

In [ ]:
class A:
  pass
class B(A):
  pass
class C(A):
  pass
class D(A):
  pass
class E(B):
  pass
class F(B):
  pass
class G(F):
  pass
class H(G):
  pass
class I(G):
  pass
class J(H,I):
  pass
class K(E,J):
  pass
class L(C):
  pass
class M(J,L):
  pass
class N(M,D):
  pass
class O(K,N):
  pass

In [ ]:
O.__mro__

(__main__.O,
 __main__.K,
 __main__.E,
 __main__.N,
 __main__.M,
 __main__.J,
 __main__.H,
 __main__.I,
 __main__.G,
 __main__.F,
 __main__.B,
 __main__.L,
 __main__.C,
 __main__.D,
 __main__.A,
 object)