<a href="https://colab.research.google.com/github/gchn24/DS-Notes/blob/main/sept_inter_ps_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
sentence = "The world has changed and none of us can go back all we can do is our best and sometimes the best that we can do is to start over"
l =5

In [ ]:
result = [string for string in sentence.split(" ") if len(string) == l]

In [ ]:
result

['world', 'start']

In [ ]:
result = []
list_of_words = sentence.split(" ")
for word in list_of_words:
  if int(len(word)) == int(l):
    result.append(word)

In [ ]:
result

['world', 'start']

In [ ]:
#version3

In [ ]:
list_of_words

['The',
 'world',
 'has',
 'changed',
 'and',
 'none',
 'of',
 'us',
 'can',
 'go',
 'back',
 'all',
 'we',
 'can',
 'do',
 'is',
 'our',
 'best',
 'and',
 'sometimes',
 'the',
 'best',
 'that',
 'we',
 'can',
 'do',
 'is',
 'to',
 'start',
 'over']

In [ ]:
result = list(filter(lambda x: len(x) == l,list_of_words))

In [ ]:
result

['world', 'start']

In [ ]:
#sorted

In [ ]:
'''
Q1:

'''


num = [1,4,3,9,7]

sorted_nums = sorted(num)

print(sorted_nums, num)

[1, 3, 4, 7, 9] [1, 4, 3, 9, 7]

In [ ]:
# Syntax:

# sorted(iteratable, key = None, reverse = False) #ascending order

In [ ]:

num = [1,4,3,9,7]

sorted_nums = sorted(num, reverse = True)

print(sorted_nums, num)

[9, 7, 4, 3, 1] [1, 4, 3, 9, 7]

In [ ]:
#sorted works with tuples, strings and lists as well

In [ ]:
my_tuple = (1,4,3,9,7)
my_string = "aditya"
my_list = [1,4,3,9,7]

In [ ]:
type(my_list), type(my_tuple), type(my_string)

(list, tuple, str)

In [ ]:
print(sorted(my_tuple))

[1, 3, 4, 7, 9]

In [ ]:
print(sorted(my_string))

['a', 'a', 'd', 'i', 't', 'y']

In [ ]:
print(sorted(my_list))

[1, 3, 4, 7, 9]

In [ ]:
print(sorted(my_tuple, reverse = True)) #descending order
print(sorted(my_string, reverse = True))
print(sorted(my_list, reverse = True))

[9, 7, 4, 3, 1]
['y', 't', 'i', 'd', 'a', 'a']
[9, 7, 4, 3, 1]

In [ ]:
#key parameter

In [ ]:
# sorted(iterable, key = len)

# len() is python's inbuilt function to count the length of the object

In [ ]:
'''
Sort the list of tuples on the basis of their second term:
(a,b)
How-> second values in increasing/ascending order

a = [(2,2), (3,5), (4,1), (1,3)]
result = [(4,1) , (2,2), (1,3), (3,5)]

'''

'\nSort the list of tuples on the basis of their second term:\n(a,b)\nHow-> second values in increasing/ascending order\n\na = [(2,2), (3,5), (4,1), (1,3)]\nresult = [(4,1) , (2,2), (1,3), (3,5)]\n\n'

In [ ]:
a = [(2,2), (3,5), (4,1), (1,3)]

In [ ]:
def second_term(my_tuple):
  return my_tuple[1]

result = sorted(a, key = second_term)

In [ ]:
result

[(4, 1), (2, 2), (1, 3), (3, 5)]

In [ ]:
words = ['cccc', 'b', 'dd' , 'aaa']
# op: [b, dd, aaa, cccc]

In [ ]:
words = ['cccc', 'b', 'dd' , 'aaa', 'aab']
# op: [b, dd, aaa, aab, cccc]

In [ ]:
words.sort()
words

['aaa', 'b', 'cccc', 'dd']

In [ ]:
words = ['cccc', 'b', 'dd' , 'aaa', 'aab']

In [ ]:
words.sort()
words

['aaa', 'aab', 'b', 'cccc', 'dd']

In [ ]:
final_sorted_list = sorted(words, key = len)

In [ ]:
final_sorted_list

['b', 'dd', 'aaa', 'aab', 'cccc']

In [ ]:
#nested sort - Q5: Functional Programming -1

In [ ]:
def freq_a(word):
  return word.count("a")

def sort_strings(str_list):
	
  res = []

  for words in str_list:

    sorted_words = sorted(words, key  = freq_a, reverse = True)

    res.append(sorted_words)
    
  return res

In [ ]:
str_list = [ ['mango' , 'banana', 'guava'] , ['rose' , 'sandalwood'] , ['bccc' ,'aaa', 'baac' ,'c']]
ans = sort_strings(str_list)
print(ans)

[['banana', 'guava', 'mango'], ['sandalwood', 'rose'], ['aaa', 'baac', 'bccc', 'c']]

In [ ]:
[['banana', 'guava', 'mango'], ['sandalwood', 'rose'], ['aaa', 'baac', 'bccc', 'c']]

In [ ]:
#check for valid email address- functional programming -2 q: 8

In [ ]:
def verify_email(email):

  freq_of_atTheRate = 0
  freq_of_dots = 0

  #count the number of times @ exists in the email
  for i in range(len(email)):
    if email[i] == '@':
      freq_of_atTheRate += 1
    if email[i] == '.':
      freq_of_dots +=1

    
  if freq_of_atTheRate != 1:
    return False

  if freq_of_dots !=1:
    return False
    
    #username@domain
  email_addr = email.split('@')

  user_name = email_addr[0]
  domain = email_addr[1]


  if len(user_name) > 20 or len(user_name) <=0:
    return False

  if len(domain) <=0:
    return False

  #if email is not invalid --> it is valid
  return True

def check(emails):
    
    result = []

    result = list(filter(verify_email, emails))

    result.sort()

    return result

In [ ]:
emails = ['sara@scaler.com' ,  'brian-23@scaler.com' , 'aj@scalercom' ,'brute_54@scaler.com', 'aj@24@scaler.com']

In [ ]:
aj@1 = "aj"

SyntaxError: ignored

In [ ]:
emails = ['sara.scaler.com' ,  'brian-23@scaler.com' , 'aj@scalercom' ,'brute_54@scaler.com', 'aj@24@scaler.com']

In [ ]:
ans = check(emails)
print(ans)

['brian-23@scaler.com', 'brute_54@scaler.com']

In [ ]:
# what's the error in this code? I am getting error..
a = [(2,2), (3,5), (4,1), (1,3)]
print(sorted(a,key=lambda x,y:y))

TypeError: ignored