<a href="https://colab.research.google.com/github/gchn24/DS-Notes/blob/main/While.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("How's the josh??")

How's the josh??

In [ ]:
#print all the numbers from 1 to 5 - each on new line

#initialization
number = 1

#condition
while number <= 5:
  #task/logic goes here
  print(number)

  #here we have skipped the updation step- and loop will never end - infinite loop

In [ ]:
#print all the numbers from 1 to 5 - each on new line

#initialization
number = 0

#condition
while number <= 5:
  #task/logic goes here
  print(number)

  #update
  number += 1

print("hi")

0
1
2
3
4
5
hi

In [ ]:
#print all the numbers from 1 to 5 - each on new line

#initialization
number = 0

#condition
while number <= 5:
  #update
  number += 1

  #task/logic goes here
  print(number)

print("hi")

1
2
3
4
5
6
hi

In [ ]:
i = 2

count = 0

while i <= 4:
  print(i)
  i += 1
  count += 1

print('outside this loop')
print(count)

2
3
4
outside this loop
3

In [ ]:
i = 0

count = 0

#updation before task
while i <= 4:
  
  print(i)
  i += 1
  count += 1

print('outside this loop')
print(count) #how many times the loop has ran

0
1
2
3
4
outside this loop
5

In [ ]:
#Question1:

Question1: Take an input (n) from the user and print all the numbers from 1 to n in new line

In [ ]:
n = int(input())

#initialization
i = 1

#condition
while i<=n:

  #task
  print(i)

  #updation
  i = i+1 # i += 1

5
1
2
3
4
5

In [ ]:
n = int(input())

#initialization
i = 1

#condition
while i==n:
  #task
  print(i)
  #updation
  i = i+1 # i += 1

5

SyntaxError: ignored

Question 2: Take an input (n) from the user and print all the alternate numbers from 1 to n in new line

In [ ]:
n = int(input())

#initialization
i = 1
count = 0

#condition
while i<=n:
  #task
  print(i)
  count += 1
  
  #updation
  i = i+2 # i += 2

print(count)

7
1
3
5
7
4

Question 3: Take start and end values from the user and print every 3rd number from start till end in new line.
:

Ex: 1 4 7...

In [ ]:
start = int(input())
end = int(input())

#initialization
i = start

while i <= end:
  print(i)

  i += 3

5
15
5
8
11
14

In [ ]:
start = int(input())
end = int(input())

while start <= end:
  print(start)

  start += 3

5
15
5
8
11
14

Question 4: Take start and end values from user.
Print all the even numbers between them (including start and end)

In [ ]:
start = int(input())
end = int(input())

while start <= end:
  print(start)
  start += 2

#this is to print all the alternate numbers from start till end

3
10
3
5
7
9

In [ ]:
start = int(input())
end = int(input())

i = start
while i <= end:
  if i % 2 == 0:
    print(i)
  
  i += 1

#this is to print all the alternate numbers from start till end

3
7
4
6

SyntaxError: ignored

Question 5:
Print all the numbers from 1 to n (input) in a single line- sepearated by space

In [ ]:
n = int(input())

i = 1
while i<=n:
  print(i, end=' ')
  i+=1

7
1 2 3 4 5 6 7

In [ ]:
print("A")
print("B")
print("C")

# new line char = '\n'

A
B
C

In [ ]:
print("A" , end='\n')
print("B", end = '\n')
print("C", end='\n')

# new line char = '\n'

A
B
C

In [ ]:
print("A" , end=' ')
print("B", end = ' ')
print("C", end=' ')

# new line char = '\n'

A B C

In [ ]:
print("A" , end='##')
print("B", end = '_')
print("C", end='!!')

# new line char = '\n'

A##B_C!!

Question5: Given a number, print it's multiplication table till its 10th multiple

In [ ]:
n = int(input())

i=1
while i<=10:
  print(n*i, end = " ")
  i += 1

5
5 10 15 20 25 30 35 40 45 50

Question 6: 
1. Take number of test_cases (count) as input from the users.
2. Take count number of inputs from the user
3. Print the multiplication table for all these inputs (till 10th multiple)


Note:

count = 3

test case 1: 4
multiplicaiton table for 4


test case 2: 5
multiplicaiton table for 5


test case 3: 2
multiplicaiton table for 2



here you are repeating the task of printing the multiplication table for the given number in that testcase


Nested Loops

In [ ]:
test_case = int(input())

#initialization
t = 1

#condition
while t <= test_case:
  #take input to print the table for - task

  n = int(input())
  print("Table for" , n, " is:")
  
  i=1
  while i<=10:
    print(n*i, end = " ")
    i += 1

  #updation
  t += 1

2
3
Table for 3  is:
3 6 9 12 15 18 21 24 27 30 6
Table for 6  is:
6 12 18 24 30 36 42 48 54 60

In [ ]:
test_case = int(input())

#initialization
t = 1

#condition
while t <= test_case:
  #take input to print the table for - task

  n = int(input())
 
  i=1
  while i<=10:
    print(n*i, end = " ")
    i += 1

  #updation
  t += 1